*{
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

	

h3{
	font-size: 3rem;
}
body{
	height: 100vh;
	display: flex;
	
	background-image: url('https://wallpapers.com/images/hd/bts-purple-theme-collage-aesthetic-c64lec6fm6by0v3e.jpg');
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
}
.memory-card{
	
		display: grid;
		grid-template-columns: repeat(4, 100px);
		gap: 5px;
		column-gap: 0;
		justify-content: center;
		align-items: center;
		margin: 0;
	padding: 0;
	border: 2px solid white;
	  
}

.memory-game{
	background-size: cover; 
	background-position: center;
}
img{
	height: 150px;
	width: 100px;
	border: 2px solid white;
	
}
.front-face{
	filter: brightness(0.0);
}

.show{
	filter: brightness(1.0);
}

   

